In [1]:
!pip install ipython-sql

Collecting ipython-sql
  Obtaining dependency information for ipython-sql from https://files.pythonhosted.org/packages/30/8f/9e50fa53ffc371483f9d1b90c1175b706d28a2e978e90a8894035af01905/ipython_sql-0.5.0-py3-none-any.whl.metadata
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/3d/c4/a32f4bf44faf95accbbd5d7864ddef9e289749a8efbc3adaad4a4671779a/prettytable-3.10.0-py3-none-any.whl.metadata
  Downloading prettytable-3.10.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython-sql) (8.15.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/00/c9/73aae8ea17fe4a42fa03ca7881fa3a51fcbff06ed1876d18036617a8f1bb/SQLAlchemy-2.0.31-cp310-cp310-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.31-cp310-cp310-win_amd64.whl.metadata (9.9 kB)
Collecting sqlparse (from ipython-sql)
  Obtaining dependency information for sqlparse from https://files.pythonhosted.org/packages/43/5d/a0fdd88fd486b39ae1fd1a75ff75b4e29a0df96c0304d462fd407b82efe0/sqlparse-0.5.0-py3-none-any.whl.metadata
  Downloading sqlparse-0.5.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: exceptiongroup in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython->ipython-sql) (1.0.4)
Requirement already satisfied: colorama in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\iris2812052\anaconda3\envs\dev\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.31-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ----- ---------------------------------- 0.3/2.1 MB 5.9 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 9.1 MB/s eta 0:00:01
   --------------------------- ------------ 1.5/2.1 MB 11.6 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 9.8 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 8.8 MB/s eta 0:00:00
Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.0-py3-none-any.whl (43 kB)
   ---------------------------------------- 0.0/44.0 kB ? eta -:--:--
   ---------------------------------------- 44.0/44.0 kB 2.1 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.10.0 sqlalchemy-2.0.31 sqlparse-0.5.0

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
import pandas as pd
import sqlite3

#read the CSV
df_content = pd.read_csv('Content.csv')
df_reaction = pd.read_csv('Reactions.csv')
df_re_type = pd.read_csv('ReactionTypes.csv')

#connect to a database
conn = sqlite3.connect("content.db")
conn1 = sqlite3.connect("Reactions.db")
conn2 = sqlite3.connect("ReactionTypes.db")

#if the db does not exist, this creates a Any_Database_Name.db file in the current directory
#store your table in the database:
df_content.to_sql('content', conn)
df_reaction.to_sql('reactions', conn1)
df_re_type.to_sql('reactionsType',conn2)

#read a SQL Query out of your database and into a pandas dataframe
sql_string = 'SELECT * FROM Content'
df_content = pd.read_sql(sql_string, conn)
df_reaction = pd.read_sql(sql_string, conn1)
df_re_type = pd.read_sql(sql_string, conn2)

OperationalError: table "content" already exists

In [25]:
pd.set_option('display.max.rows',50)

In [26]:
df_content

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [44]:
df_content.count()

Unnamed: 0    25553
Content ID    25553
User ID       22534
Type          24573
Datetime      25553
dtype: int64

In [45]:
df_reaction.count()

Unnamed: 0    25553
Content ID    25553
User ID       22534
Type          24573
Datetime      25553
dtype: int64

In [46]:
df_re_type.count()

Unnamed: 0    16
Type          16
Sentiment     16
Score         16
dtype: int64

In [22]:
df_reaction.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [24]:
df_re_type.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [52]:
df_mer = df_reaction.merge(df_re_type, how='inner', on = 'Type')
df_mer = df_mer[["Content ID", "User ID", "Type","Datetime", "Sentiment", "Score"]]
df_mer

,Content ID,User ID,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,13c06e7e-833d-47eb-a790-5e09ccfd8d2c,disgust,2021-04-09 02:46:20,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,8b49caad-bcc5-43de-bf40-34a66ff8805c,disgust,2021-03-28 21:15:26,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,ef147ea5-9696-44d5-b6c2-a43f62fd8ce2,disgust,2020-08-04 05:40:33,negative,0
...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,d51a3403-8bab-4d88-af4f-a429c6d8c168,adore,2020-10-04 22:26:33,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,3663e3e6-3d5c-4ed9-a6af-1e680ec5f34b,adore,2020-09-18 10:50:50,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,89572273-761e-46f3-8b99-1689d98aac90,adore,2020-10-31 03:58:44,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,7bf3ce80-784e-42a0-b06a-dbbd1e31a9b7,adore,2020-06-25 15:12:29,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,dcc6000c-ba92-472c-8bc1-9e9ca30b475b,adore,2020-12-17 16:32:57,positive,72

In [64]:
df_merge = df_mer.merge(df_content, how = 'inner', on = ["Content ID"])
df_merge = df_merge[["Content ID", "Category", "Type_y", "Type_x", "Score"]]
df_merge = df_merge.rename(columns = {"Type_y": "Content Type", "Type_x": "Reaction Type"})
df_merge

,Content ID,Category,Content Type,Reaction Type,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,Studying,photo,disgust,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,Studying,photo,disgust,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,Studying,photo,disgust,0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,Studying,photo,dislike,10
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,Studying,photo,dislike,10
...,...,...,...,...,...
24568,99fcc8a6-550f-47a1-b312-aba8a031f6c7,travel,video,heart,60
24569,004e820e-49c3-4ba2-9d02-62db0065410c,tennis,audio,heart,60
24570,a7849ef3-5930-4ba9-9cbe-e215811e713e,studying,photo,heart,60
24571,e5f1a4c6-2b27-4c8b-ac9a-21bb6ef7c946,soccer,audio,want,70
24572,c59e27e9-0439-4699-8ea0-5e93f662a05d,fitness,GIF,adore,72

In [65]:
df_merge.count()

Content ID       24573
Category         24573
Content Type     24573
Reaction Type    24573
Score            24573
dtype: int64

In [76]:
df_merge_cal = df_merge.groupby("Content Type").agg({"Score": "sum"})
df_merge_cal = df_merge_cal.sort_values(by="Score", ascending = False)
df_merge_cal.head()

               Score
Content Type
photo         262838
video         246463
GIF           238217
audio         226127